<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="menu">
      <ul>
          <li><a href="{{ site.baseurl }}">home</a></li>
          <li><a href="{{ site.baseurl }}blog/">blog</a></li>
          <li><a href="{{ site.baseurl }}zh-hant/">漢字</a></li>
          <li><a href="{{ site.baseurl }}zh-hans/">简化字</a></li>
          <li><a href="{{ site.baseurl }}ms/">Bahasa Melayu</a></li>
          <li><a href="{{ site.baseurl }}ta/">தமிழ்</a></li>
          <li><a href="{{ site.baseurl }}about/">about</a></li>
          <li><a href="{{ site.baseurl }}join">*join</a></li>
      </ul>
    </div>
  </div>
</div>
