<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="menu">
      <ul>
          <li><a href="https://singaporelug.org/">home</a></li>
          <li><a href="https://singaporelug.org/blog/">blog</a></li>
          <li><a href="https://singaporelug.org/zh-hant/">漢字</a></li>
          <li><a href="https://singaporelug.org/zh-hans/">简化字</a></li>
          <li><a href="https://singaporelug.org/ms/">Bahasa Melayu</a></li>
          <li><a href="https://singaporelug.org/ta/">தமிழ்</a></li>
          <li><a href="https://singaporelug.org/about/">about</a></li>
          <li><a href="https://singaporelug.org/join/">*join</a></li>
      </ul>
    </div>
  </div>
</div>
